{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ asset('favicon.ico') }}">

        <title>Cover Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/app/css/cover.css') }}" rel="stylesheet">
    </head>

    <body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <header class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">{{ 'Smart Library Management System'|trans }}</h3>
                        {#<nav class="nav nav-masthead">#}
                            {#<a class="nav-link active" href="#">Home</a>#}
                            {#<a class="nav-link" href="#">Features</a>#}
                            {#<a class="nav-link" href="#">Contact</a>#}
                        {#</nav>#}
                    </div>
                </header>

                <main role="main" class="inner cover">

                    <form action="{{ path('login') }}" method="post">
                        <table class="table table-dark">
                            <tr>
                                <td>
                                    <label for="username" class="text-left">{{ 'Username'|trans }}</label>
                                </td>
                                <td>
                                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="password">{{ 'Password'|trans }}</label>
                                </td>
                                <td>
                                    <input type="password" id="password" name="_password" class="form-control" />
                                </td>
                            </tr>
                        </table>

                        <br/>


                        {#If you want to control the URL the user#}
                        {#is redirected to on success (more details below)#}
                        {#<input type="hidden" name="/dashboard" value="" />#}

                        <button type="submit" class="form-control btn-success">{{ 'Login'|trans }}</button>
                    </form>
                    {#<h1 class="cover-heading">Cover your page.</h1>#}
                    {#<p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>#}
                    {#<p class="lead">#}
                        {#<a href="#" class="btn btn-lg btn-secondary">Learn more</a>#}
                    {#</p>#}
                </main>

                <footer class="mastfoot">
                    <div class="inner">
                        <main>
                            {% include 'footer.html.twig' %}
                    </div>
                </footer>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/app/js/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    {#<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>#}
    <script src="{{ asset('bundles/app/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    </body>
    </html>
{% endblock %}