{% extends 'base.html.twig' %}

{% block body %}
    {% if(null != books) %}
        <h1>{{ 'Books by Title'|trans }}</h1>

        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Author'|trans }}</th>
                <th>{{ 'Publishing Year'|trans }}</th>
                <th>{{ 'Publishing Place'|trans }}</th>
                <th>{{ 'Quantity'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{% if book.publishingYear %}{{ book.publishingYear|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ book.publishingPlace }}</td>
                    <td>{{ book.quantity }}</td>
                    <td>
                        <a href="{{ path('book_show', { 'id': book.id }) }}" class="btn btn-success">{{ 'View'|trans }}</a>
                        <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-secondary">{{ 'Edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if(null != books1) %}
        <h1>{{ 'Books by Author'|trans }}</h1>

        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Title'|trans }}</th>
                <th>{{ 'Author'|trans }}</th>
                <th>{{ 'Publishing Year'|trans }}</th>
                <th>{{ 'Publishing Place'|trans }}</th>
                <th>{{ 'Quantity'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for book1 in books1 %}
                <tr>
                    <td><a href="{{ path('book_show', { 'id': book1.id }) }}">{{ book1.id }}</a></td>
                    <td>{{ book1.title }}</td>
                    <td>{{ book1.author }}</td>
                    <td>{% if book1.publishingYear %}{{ book1.publishingYear|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ book1.publishingPlace }}</td>
                    <td>{{ book1.quantity }}</td>
                    <td>
                        <a href="{{ path('book_show', { 'id': book1.id }) }}" class="btn btn-success">{{ 'View'|trans }}</a>
                        <a href="{{ path('book_edit', { 'id': book1.id }) }}" class="btn btn-secondary">{{ 'Edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if(null != users) %}
        <h1>{{ 'Users by First Name'|trans }}</h1>

        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Full Name'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Personnel Code'|trans }}</th>
                <th>{{ 'City'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.identificationNumber }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.status }}</td>
                    <td>
                        <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-success">{{ 'View'|trans }}</a>
                        <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-secondary">{{ 'Edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if(null != users1) %}
        <h1>{{ 'Users by Last Name'|trans }}</h1>

        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <th>{{ 'Full Name'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Personnel Code'|trans }}</th>
                <th>{{ 'City'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user1 in users1 %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': user1.id }) }}">{{ user1.id }}</a></td>
                    <td>{{ user1.fullName }}</td>
                    <td>{{ user1.email }}</td>
                    <td>{{ user1.identificationNumber }}</td>
                    <td>{{ user1.city }}</td>
                    <td>{{ user1.status }}</td>
                    <td>
                        <a href="{{ path('user_show', { 'id': user1.id }) }}" class="btn btn-success">{{ 'View'|trans }}</a>
                        <a href="{{ path('user_edit', { 'id': user1.id }) }}" class="btn btn-secondary">{{ 'Edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
{% endblock %}
